body {
    padding-top: 50px;
    padding: 0px;
}
#mensageria{
  position: absolute;
  right: 600px;
  bottom:555px;
}
#msgLogin{
  position: relative;
  bottom: 10px;
}
.principal {
    text-align: center;
}

#tabela{
position: relative;

text-align: center;
border: 2px solid black;
font-family: 'Creepster', cursive;
}
.linhaTabela{
border: 2px solid black;
}

th{
text-align: center;
background-color: black;
color:#9D9D9D;
}

.formularioInteiro{
position: relative;
top: 20px;
padding-top: 30px;
padding-bottom: 10px;
margin-right: -60px;
margin-top: 20px;
background-color: black;
color:#9D9D9D;
}

.login{
    position: relative;
    top:150px;
    width: 350px;
    left: 320px;
}
#mensagem-login{
  position: relative;
  top: 100px;
right: 80px;
}
.alert-danger{
  position: relative;
  background-color: none;
  top: 100px;
right: 80px;
}
.alert-success{
  position: relative;
  background-color: none;
  top: 100px;
right: 80px;
}
#btnLogin{
    position:relative;
    background-color: #9D9D9D;
    border: none;
    color: #161616;
    width: 100px;

}
#loginFormulario{
position: relative;
background-color: black;
color:#9D9D9D;
left: 55px;
bottom: 170px;
border-radius: 0px 0px 15px 15px;
border: none;
}

#clienteFormulario{
  position:relative;

  background-color: black;
  color:#9D9D9D;
  width: 670px;
  height: 450px;
}
#imputEscondido{
    position: relative;
    left:3000px;
}

.urso-login{
  position: relative;
  width: 800px;
  height: 350px;
  top: 50px;
  right: 50px;
  display: none;
}
.ursoPrincipal{
  position: relative;
  width: 350px;
  height: 250px;
  bottom: 20px;
  right: 20px;
  border-radius: 15px 15px 0px 0px;
}

.form-group{
  font-family: 'Creepster', cursive;
}
.navbar{
  width: 100%;
  font-family: 'Creepster', cursive;
    background-color: black;
}

#mensagem{
  position: relative;
  top: 100px;
}
#mensagemSucesso{
  position: relative;
  top: 100px;
}

.new_form {
  background-color: black;
  width: 500px;
  max-height: 420px;
  overflow: scroll;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border-radius: 4px;
}

.new_form-group.--flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.new_form-group_row.--half{
  width: 48%;
}

.new_form-group_row {
  margin-bottom: 10px;
}

.new_form-label{
  color: white;
  font-family: 'Creepster', cursive;
  margin-bottom: 4px;
}
